<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJH5gW0PL9z_Cosl-CVv593STedSGsZ28</string>
	<key>GCM_SENDER_ID</key>
	<string>975307131306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yousol.MindSpace</string>
	<key>PROJECT_ID</key>
	<string>mindspace-73a49</string>
	<key>STORAGE_BUCKET</key>
	<string>mindspace-73a49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975307131306:ios:deb0046d4af24f6a5583d3</string>
</dict>
</plist>